---
layout: default
title: Blog
permalink: /blog/
---
<!-- Slovenska imena mesecev. -->
{% assign meseci = "januar|februar|marec|april|maj|junij|julij|avgust|september|oktober|november|december" | split: "|" %}

<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <br/><br/>
        <h2>Moj blog</h2>
        <hr class="intro-divider">
    </div>
</section>
<section id="projects">
<!-- Page Content -->
{% assign stevec = 0 %}
{% for post in site.posts %}
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {% assign dan = post.date | date: "%d" %}
    {% assign mesec = meseci[m] %}
    {% assign leto = post.date | date: "%Y" %}

    {% if post.objavi == 'Da' %}
        {% assign ostanek = stevec | modulo:2 %}
        {% if ostanek == 0 %}
            <!-- LEVA STRAN -->
            <div id="post" class="content-section-a">
                <div class="container">
                    <div class="row">
                        <h2 class="category-heading">{{ dan }}. {{ mesec }} {{ leto }}</h2>
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <h2 class="section-heading col-lg-12">{{ post.title | capitalize }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="lead">{{ post.content }}</div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <div class="image-wrapper" >
                                <img class="img-thumbnail img-responsive center-block" src="{{site.baseurl}}/img/{{ post.slika }}" alt="">
                                {% if post.opis_slike != null %}
                                    <i>Slika: {{ post.opis_slike }}</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content-section-a -->
        {% else %}
            <!-- DESNA STRAN -->
            <div id="post" class="content-section-b">
                <div class="container">
                    <div class="row">
                        <h2 class="category-heading">{{ dan }}. {{ mesec }} {{ leto }}</h2>
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <h2 class="section-heading col-lg-12">{{ post.title | capitalize }}</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                            <div class="lead">{{ post.content }}</div>
                        </div>
                            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                                <div class="image-wrapper" >
                                    <img class="img-thumbnail img-responsive center-block" src="{{site.baseurl}}/img/{{ post.slika }}" alt="">
                                    {% if post.opis_slike != null %}
                                        <i>Slika: {{ post.opis_slike }}</i>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                </div>
                <!-- /.container -->
            </div>
        {% endif %}
        {% assign stevec = stevec | plus: 1 %}
    {% endif %}
{% endfor %}
</section>
